@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;&display=swap)
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins',sans-serif;
html,body{
	display: grid;
	height: 100%;
	width: 100%;
	place-items:center;
	background: #2980b9;
}
selection {
	background: #95a5a6;
	color: #fff;
}